<!-- wp:template-part {"slug":"header","tagName":"header","className":"vk-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"vk-main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group vk-main" style="margin-top:0;padding-top:0;padding-bottom:0">
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"vk-site-footer"} /-->
